/* fonts
----------------------------------------------------------------------*/
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: normal;
  src: local('Cardo'), url('http://themes.googleusercontent.com/font?kit=jbkF2_R0FKUEZTq5dwSknQ') format('truetype');
}
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: normal;
  src: local('Neuton Regular'), local('Neuton'), url('http://themes.googleusercontent.com/font?kit=9R-MGIOQUdjAVeB6nE6PcQ') format('truetype');
}

/* base styles
----------------------------------------------------------------------*/
body {
    background: #fff;
	/*background: url(../img/grid.png) #efefef -10em 0 repeat-y;*/
    font-family: Georgia, Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    color: #555;
}
a { color:#08a; text-decoration:none; }
a:hover { color:#28a; }
ol, ul { list-style:none; }

/* input button elements:
 * http://www.zurb.com/blog_uploads/0000/0617/buttons-03.html
----------------------------------------------------------------------*/
.button, .button:visited {
	background-color: #222;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	font-weight: bold;
	line-height: 1;
    letter-spacing:1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	position-relative;
	cursor: pointer;
}
.small.button, .small.button:visited      { font-size: 11px; padding: ; }
.large.button, .large.button:visited      { font-size: 14px; padding: 8px 14px 9px; }
.button, .button:visited,
.medium.button, .medium.button:visited    { font-size: 13px; }
.button:active                            { top:1px; }
.button:hover                             { background-color: #010101; }
.green.button, .green.button:visited      { background-color: #91bd09; }
.green.button:hover                       { background-color: #749a02; }
.blue.button, .blue.button:visited        { background-color: #2daebf; }
.blue.button:hover                        { background-color: #007d9a; }
.red.button, .red.button:visited          { background-color: #e33100; }
.red.button:hover                         { background-color: #872300; }
.magenta.button, .magenta.button:visited  { background-color: #a9014b; }
.magenta.button:hover                     { background-color: #630030; }
.orange.button, .orange.button:visited    { background-color: #ff5c00; }
.orange.button:hover                      { background-color: #d45500; }
.yellow.button, .yellow.button:visited    { background-color: #ffb515; }
.yellow.button:hover                      { background-color: #fc9200; }

/* site header element
----------------------------------------------------------------------*/
header {
	margin-top: 1em;
	margin-bottom: 2em;
}
header h1 a { 
	background: url(../img/header.png) #fff 0 -3em no-repeat;
	font-size: 120%;
	height: 5em;
	width: 300px;
	display: block;
}

header h1 a span { display:none; }
header h2 { 
	margin-top: 2em;
	font-size: 110%;
	text-shadow: 0px 1px 2px #ddd;
}

/* site header navigation element
----------------------------------------------------------------------*/
header nav { 
	padding: .7em;
	font-weight: bold;
	border-bottom: 1px solid #666;
	border-top: 1px solid #666;
	text-align: right;
}
header nav li { 
	font-weight: bold;
	display: inline;
	padding-left: 1em;
}
header nav li a { 
	text-shadow: 1px 1px 1px #ddd;
}
header nav li a:hover { 
	border-top: 2px solid #444;
	color: #444;
}

/* site footer element
----------------------------------------------------------------------*/
footer { 
	margin-top: 5em;
	padding-top: 1em;
	border-top: 1px dotted #666;
	font-size: 90%;
	color:#aaa;
	text-shadow: 0px 1px 1px #ddd;
}
footer ul#social-network li {
	display: inline-block;
	float: right;
	padding-left: .5em;
}
footer ul#social-network li a {
	display:block;
	width:45px; height:40px;
	opacity: 0.3;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}
footer ul#social-network li a:hover {
	opacity: 1.0;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}
footer ul#social-network li a span  { display:none; }
footer ul#social-network li.twit a  { background:url(../img/twitter-logo.png) no-repeat; }
footer ul#social-network li.rss a   { background:url(../img/rss-logo.png) no-repeat; }
footer ul#social-network li.tech a  { background:url(../img/technorati-logo.png) no-repeat; }
footer ul#social-network li.email a { background:url(../img/email-logo.png) no-repeat; }

/* guide slide elements
----------------------------------------------------------------------*/
.guide-slide {
	text-align: left;
	position:relative;
	border: 1px solid #ccc;
	background-color: #fff;
    margin: 1em 0; 
	cursor: pointer;
}
.guide-slide:hover { background-color: #fdf5ce; }
.guide-slide img {
	width:95%;
	padding: 5px;
	display:block;
	margin: auto;
}
.guide-slide div {
	height: 40px;
	position:absolute;
	background: rgba(0,0,0,0.35);
	color: #fff;
	bottom: 0;
	width:100%;
}
.guide-slide h1 {
	padding: 0 7px;
	font-size: 140%;
	line-height:20px;
}
.guide-slide p { padding: 0 7px; }

/* spot summary elements
----------------------------------------------------------------------*/
.spot-summary {
	text-align: left;
	position:relative;
	border: 1px solid #ccc;
	background-color: #fff;
    margin-bottom: 1em;
	cursor: pointer;
}
.spot-summary a {
    position: absolute;
    top:3px;
    right:3px;
}
.spot-summary:hover { background-color: #fdf5ce; }
.spot-summary img {
	width:30%;
	padding: 5px;
	display:block;
    float: left;
}
.spot-summary h1 {
	font-size: 140%;
	line-height:20px;
    color:#fff;
	background: rgba(39,64,139,0.65);
    padding: 5px;
}
.spot-summary p {
    padding: 5px;
    float:right;
    width: 65%;
    font-size: 120%;
    overflow: hide;
}

/* input text elements
----------------------------------------------------------------------*/
input.auto-search {
	width: 100%;
	font-size: 20px;
    margin-bottom: 1em;
	background: #fff url(../img/search.png) 100% 0 no-repeat;
}

form.styled-form {
    background: #ddd;
    border: 1px solid #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 20px;
}
form.styled-form fieldset {
    font-size:120%;
    font-weight:bold;
    border:none;
    margin-bottom:10px;
}
form.styled-form fieldset:last-of-type { margin-bottom: 0; }
form.styled-form legend {
color:#384313;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
}

form.styled-form ol li {
    background: rgba(255,255,255,.3);
    border: 2px solid rgba(255,255,255,.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    line-height: 30px;
    clear:both;
    padding: 5px 10px;
    margin-bottom:5px;
}
form.styled-form label {
    float:left;
    font-size: 13px;
    width:110px;
}
form.styled-form input,
form.styled-form textarea {
    background: #fff;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px;
    width: 260px;
}
form.styled-form button {
    display:block;
    margin-left:10px;
    float:right;
}
form.styled-form button:last-of-type { margin-left:0; }

/* Browse Styles
----------------------------------------------------------------------*/
#guide-search {
    margin-bottom: 1em;
}

/* Map Styles
----------------------------------------------------------------------*/
.map-block {
	border: 1px solid #222;
    margin-bottom: 1em;
}
.map-block.small  { height: 100px; }
.map-block.medium { height: 200px; }
.map-block.large  { height: 400px; }

