{% extends "base.html" %}

{% block title %}trip.me - logout{% endblock %}
{% block content_title %}Successful Password Change{% endblock %}

{% block content %}

{% if form.errors %}
<p class="success">
  An email has been sent with the remaining instructions you
  need to follow to finish resetting your password.
</p>
<section class="instruction">
  <h1>Why do I need to do this</h1>
  <p>
    This process makes sure that a random user can't come
    and reset your password. Since only you have access to
    your email account, only you can reset your password.
  </p>
</section>
{% endif %}

{% endblock %}

{% block extra_javascript %}
$(document).ready(function() {
    setTimeout(function() { window.location = "/"; }, 2000);
});
{% endblock %}
