{% extends "base.html" %}

{% block title %}trip.me - browse{% endblock %}
{% block content_title %}Browsing Guides{% endblock %}

{% block content %}

      <form id="guide-search" class="grid_4">
        <input class="auto-search" type="search" placeholder="Where do you want to go?" />
      </form>
	  <div class="clearfix"></div>

      <div class="grid_4">
	    <figure class="guide-slide">
          <img src="img/image1.jpg" height="200px"/>
	  	<div>
	      <h1>London Trip</h1>
	  	  <p>Some kind of description for the guide</p>
	  	</div>
	    </figure>
	  </div>
      <div class="grid_4">
	    <figure class="guide-slide">
          <img src="img/image2.jpg" height="200px"/>
	  	<div>
	      <h1>Paris Trip</h1>
	  	  <p>Some kind of description for the guide</p>
	  	</div>
	    </figure>
	  </div>
      <div class="grid_4">
	    <figure class="guide-slide">
          <img src="img/image3.jpg" height="200px"/>
	  	<div>
	      <h1>Melborne Trip</h1>
	  	  <p>Some kind of description for the guide</p>
	  	</div>
	    </figure>
	  </div>

      <div class="grid_4">
	    <figure class="guide-slide">
          <img src="img/image1.jpg" height="200px"/>
	  	<div>
	        <h1>Egypt Trip</h1>
	  	  <p>Some kind of description for the guide</p>
	  	</div>
	    </figure>
	  </div>
      <div class="grid_4">
	    <figure class="guide-slide">
          <img src="img/image2.jpg" height="200px"/>
	  	<div>
	        <h1>London Trip</h1>
	  	  <p>Some kind of description for the guide</p>
	  	</div>
	    </figure>
	  </div>
      <div class="grid_4">
	    <figure class="guide-slide">
          <img src="img/image3.jpg" height="200px"/>
	  	<div>
	        <h1>American Trip</h1>
	  	  <p>Some kind of description for the guide</p>
	  	</div>
	    </figure>
	  </div>

      <div class="grid_4">
	    <figure class="guide-slide">
          <img src="img/image1.jpg" height="200px"/>
	  	<div>
	        <h1>Tunesia Trip</h1>
	  	  <p>Some kind of description for the guide</p>
	  	</div>
	    </figure>
	  </div>
      <div class="grid_4">
	    <figure class="guide-slide">
          <img src="img/image2.jpg" height="200px"/>
	  	<div>
	        <h1>London Trip</h1>
	  	  <p>Some kind of description for the guide</p>
	  	</div>
	    </figure>
	  </div>
      <div class="grid_4">
	    <figure class="guide-slide">
          <img src="img/image3.jpg" height="200px"/>
	  	<div>
	        <h1>Mexico Trip</h1>
	  	  <p>Some kind of description for the guide</p>
	  	</div>
	    </figure>
	  </div>

{% endblock %}

{% block extra_javascript %}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script>
    $(document).ready(function() {
        var data = $(".guide-slide h1").map(function() {
			return $(this).text().split(' ')[0];
		}).get();
        $("form#guide-search input").autocomplete({source:jQuery.unique(data)});
        $("form#guide-search").submit(function() {
			var term = $("input:first").val().toLowerCase();
			$(".guide-slide").each(function() {
				if ($(this).text().toLowerCase().indexOf(term) <= 0) {
					$(this).fadeOut();
				}
				else { $(this).fadeIn(); }
			});
			return false;
		});
    });
    </script>
{% endblock %}
