<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{{ site.name }}{% endblock %}</title>
	<meta name="description" content="Here is the description of your project." />
	<meta name="author" content="Galen Collins" />
	<meta name="Copyright" content="Copyright Galen Collins 2010. All Rights Reserved." />
	<meta name="DC.title" content="Trip.Me" />
	<meta name="DC.subject" content="What you're about." />
	<meta name="DC.creator" content="Who made this site." />
	<meta name="google-site-verification" content="" />
	<link rel="shortcut icon" href="_/img/favicon.png"/>
	<link rel="apple-touch-icon" href="_/img/custom_icon.png"/>
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/print/main.css" media="print" />
	
	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script>
	<![endif]-->
	
	<script src="/js/modernizr.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/js/core.js"></script>
</head>

<body>
<div>

	<header>
		<h1><a href="/">{{ site.title }}</a></h1>
		<nav>
			<ol>
				<li><a href="">Nav Link 1</a></li>
				<li><a href="">Nav Link 2</a></li>
				<li><a href="">Nav Link 3</a></li>
			</ol>
		</nav>
		<h2>{% block content_title %}{% endblock %}</h2>
	</header>

    <div id="content">
    {% block content %}{% endblock %}
    </div>
	
	<aside>
		<h2>Sidebar Content</h2>
	</aside>
	
	<footer>
		<p><small>&copy; Copyright Your Name Here 2010. All Rights Reserved.</small></p>
	</footer>
</div>
</body>
</html>
