{% extends "base.html" %}

{% block title %}trip.me - login{% endblock %}
{% block content_title %}Log in to your account{% endblock %}

{% block content %}

{% if form.errors %}
<p class="error">
Your username and password didn't match our records.
Please try again. If you have forgotten your password,
we can help you reset it, just <a href="/accounts/password/reset">click here</a>.
</p>
{% endif %}

<div class="grid_6 prefix_3 suffix_3">
  <form class="styled-form" method="post" action="">
    {% csrf_token %}
  
    <fieldset>
    <legend>Account Credentials</legend>
    <ol>
      {% for field in form %}
        <li> {{ field.label_tag }} {{ field }} {{ field.errors }}</li>
      {% endfor %}
    </ol>
    </fieldset>
  
    <fieldset>
      <button class="button blue larege" type="submit">Login</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
  </form>
</div>

{% endblock %}
