{% extends "base.html" %}

{% block title %}trip.me - login{% endblock %}
{% block content_title %}Change Your Password{% endblock %}

{% block content %}

<form method="post" action="">
  {% csrf_token %}

  <fieldset>
  <ol>
    {% for field in form %}
      <li> {{ field.label_tag }} {{ field }} {{ field.errors }}</li>
    {% endfor %}
  </ol>
  </fieldset>


  <fieldset>
    <input type="submit" value"Change Password" />
    <input type="hidden" name="next" value="{{ next }}" />
  </fieldset>
</form>

{% endblock %}
