{% extends "base.html" %}

{% block title %}trip.me - login{% endblock %}
{% block content_title %}Log in to your account{% endblock %}

{% block content %}

{% if form.errors %}
<p class="error">
  There were errors registering your account, please correct the
  errors and try again.
</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
  {% csrf_token %}

  <fieldset>
  <ol>
    {% for field in form %}
      <li> {{ field.label_tag }} {{ field }} {{ field.errors }}</li>
    {% endfor %}
  </ol>
  </fieldset>


  <fieldset>
    <input type="submit" value"Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </fieldset>
</form>

{% endblock %}
