<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{{ site.name }}{% endblock %}</title>
	<meta name="description" content="Making it easy to decide where you want to go" />
	<meta name="author" content="bashwork" />
	<meta name="Copyright" content="copyright bashwork {% now "Y" %}. All Rights Reserved." />
	<meta name="DC.title" content="{{ site.name }}" />
	<meta name="DC.subject" content="What you're about." />
	<meta name="DC.creator" content="Who made this site." />
	<meta name="google-site-verification" content="" />
	<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico"/>
	<link rel="apple-touch-icon" href="{{ MEDIA_URL }}img/custom_icon.png"/>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" />
    {% block extra_meta %}{% endblock %}
	
	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script>
	<![endif]-->
	
	<script src="{{ MEDIA_URL }}js/modernizr.min.js"></script>
</head>

<body>
  <div id="container" class="container_12">
  {% block full_container %}

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- site header -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <header>
      <h1><a href="/"><span>{{ site.name }}</span></a></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/guides/">Browse Guides</a></li>
          <li><a href="/content/help/">Help</a></li>
          {% if user.is_authenticated %}
            <li><a href="/accounts/logout/">Logout</a></li>
            <li><a href="/users/{{ user.username }}/">Profile</a></li>
          {% else %}
            <li><a href="/accounts/login/">Login</a></li>
            <li><a href="/accounts/register/">Sign Up</a></li>
          {% endif %}
          {% block extra_navigation %}{% endblock %}
        </ul>
      </nav>
      <h2>{% block content_title %}{% endblock %}</h2>
    </header>
    
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- site content -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <section id="content" class="clearfix">
      {% block content %}{% endblock %}
    </section>
    
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- site footer -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <footer>
    {% block full_footer %}
      <ul id="social-network">
	    <li class="email"><a href="mailto:contact@tripme.com"><span>Email</span></a></li>
	    <li class="tech"><a href="http://technocrat.com/tripme/"><span>Technocrat</span></a></li>
	    <li class="twit"><a href="http://twitter.com/tripme/"><span>Twitter</span></a></li>
	    <li class="blog"><a href="http://blog.trip.me/blog/"><span>Blog</span></a></li>
	    <li class="rss"><a href="http://tripme.com/feed/rss/"><span>RSS</span></a></li>
      </ul>
      <p>copyright &copy; {% now "Y" %} bashwork - powered by spunk and vigor</p>
      {% block extra_footer %}{% endblock %}
    {% endblock %}
    </footer>
    {% block extra_dom %}{% endblock %}
  {% endblock %}
  </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- site extra -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    {% if messages %}
      <div class="message-list">
        {% for messages in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </div>
    {% endif %}

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- javascript includes -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="{{ MEDIA_URL }}js/jquery.min.js"%3E%3C/script%3E'))</script>
    <script>
    {% block extra_javascript %}{% endblock %}
    </script>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- javascript analytics -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script>
     var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>
    {% block extra_analytics %}{% endblock %}

</body>
</html>
