/* base styles
----------------------------------------------------------------------*/
body {
    background: #fff;
	/*background: url(../img/grid.png) #efefef center 0 repeat-y;*/
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    color: #555;
}
a { color: #0086e7; text-decoration:none; }
a:hover { color:#444; }
a:focus { outline: none; }

ol, ul { list-style:none; }

blockquote {
    display:block;
    font-style:italic;
}

blockquote:before {
    font-size: 40px;
    color: rgba(0,0,0,0.5);
    width:50px;
    content: open-quote;
    height: 0;
    margin-left: -0.55em;
}
.ui-icon { display: inline-block !important; }

/* tooltip element styles
----------------------------------------------------------------------*/
p#vtip {
    display: none;
    position: absolute;
    padding: 10px;
    left: 5px;
    font-size: 0.8em;
    background-color: white;
    border: 1px solid #a6c9e2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 9999
}
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }

/* site header element
----------------------------------------------------------------------*/
header {
	margin-top: 1em;
	margin-bottom: 2em;
}
header h1 a { 
	background: url(../img/header.png) 0 -1em no-repeat;
	font-size: 120%;
	height: 6em;
	width: 600px;
	display: block;
}

header h1 a span { display:none; }
header h2 { 
    font-family: 'Trebuchet MS', sans-serif;
	margin-top: 30px;
	font-size: 20px;
	text-shadow: 0px 1px 2px #ddd;
}

#sign-up-header {
    float: right;
    color: #96999C;
    border-radius: 5px;
    background: rgba(0,170,0,0.1);
    padding: 8px;
}

/* site header navigation element
----------------------------------------------------------------------*/
header nav { 
	padding: 7px 0;
	font-weight: bold;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #666;
	text-align: left;
}
header nav li { 
    font-size: 100%;
	font-weight: bold;
	display: inline;
	padding-right: 20px;
}
header nav li a {
    padding-top: 10px;
    color: #0086e7;
}
header nav li a:hover { 
    background: url(../img/arrow.png) center top no-repeat;
	color: #444;
}

/* site footer element
----------------------------------------------------------------------*/
footer { 
	margin-top: 5em;
	padding-top: 1em;
	border-top: 1px dotted #666;
	font-size: 90%;
	color:#aaa;
	text-shadow: 0px 1px 1px #ddd;
}
footer ul#social-network li {
	display: inline-block;
	float: right;
	padding-left: .5em;
}
footer ul#social-network li a {
	display:block;
	width:45px; height:40px;
	opacity: 0.3;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}
footer ul#social-network li a:hover {
	opacity: 1.0;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
}
footer ul#social-network li a span  { display:none; }
footer ul#social-network li.twit a  { background:url(../img/twitter-logo.png) no-repeat; }
footer ul#social-network li.rss a   { background:url(../img/rss-logo.png) no-repeat; }
footer ul#social-network li.tech a  { background:url(../img/technorati-logo.png) no-repeat; }
footer ul#social-network li.email a { background:url(../img/email-logo.png) no-repeat; }
footer ul#social-network li.blog a  { background:url(../img/blogger-logo.png) no-repeat; }

/* guide slide elements
----------------------------------------------------------------------*/
.guide-slide {
	text-align: left;
	position:relative;
	border: 1px solid #ccc;
	background-color: #fff;
    margin: 1em 0; 
	cursor: pointer;
    overflow:hidden;
    height:200px;
}
.guide-slide img {
    margin: -10px 0;
	width:100%;
	display:block;
	margin: auto;
    z-index:1;
	/*position:absolute;
    clip: rect(0px,300px,200px, 0px); */
}
.guide-slide div {
	height: 40px;
	position:absolute;
	background: rgba(0,0,0,0.35);
	color: #fff;
    top: 160px;
	width:100%;
    z-index:2;
    height:100%;
	-webkit-transition: bottom,top 1s ease-in-out;
}
.guide-slide div:hover { top:0; }
.guide-slide h1 {
	padding: 0 7px;
	font-size: 140%;
	line-height:20px;
}
.guide-slide h2 {
	padding: 0 7px;
    font-style:italic;
    font-weight:normal;
}
.guide-slide p {
    padding: 0 7px;
    overflow:hidden;
    white-space:normal;
    text-overflow: ellipsis;
}

/* spot summary elements
----------------------------------------------------------------------*/
.spot-summary {
	text-align: left;
	position:relative;
	border: 1px solid #ccc;
	background-color: #fff;
    margin-bottom: 1em;
	cursor: pointer;
}
.spot-summary a {
    position: absolute;
    top:3px;
    right:3px;
}
.spot-summary:hover { background-color: #fdf5ce; }
.spot-summary img {
	width:30%;
	padding: 5px;
	display:block;
    float: left;
}
.spot-summary h1 {
	font-size: 140%;
	line-height:20px;
    color:#fff;
	background: rgba(39,64,139,0.65);
    padding: 5px;
}
.spot-summary p {
    padding: 5px;
    float:right;
    width: 65%;
    font-size: 120%;
    overflow: hide;
}

/* input text elements
----------------------------------------------------------------------*/
input.auto-search {
	width: 100%;
	font-size: 20px;
    margin-bottom: 1em;
	background: #fff url(../img/search.png) 100% 0 no-repeat;
}

form.styled-form {
    background: #ddd;
    border: 1px solid #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 20px;
}
form.styled-form fieldset {
    font-size:120%;
    font-weight:bold;
    border:none;
    margin-bottom:10px;
}
form.styled-form fieldset:last-of-type { margin-bottom: 0; }
form.styled-form legend {
color:#384313;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
}

form.styled-form ol li {
    background: rgba(255,255,255,.3);
    border: 2px solid rgba(255,255,255,.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    line-height: 30px;
    clear:both;
    padding: 5px 10px;
    margin-bottom:5px;
}
form.styled-form label {
    float:left;
    font-size: 13px;
    width:110px;
}
form.styled-form input,
form.styled-form textarea {
    background: #fff;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px;
    width: 270px;
}
form.styled-form button {
    display:block;
    margin-left:10px;
    float:right;
}
form.styled-form button:last-of-type { margin-left:0; }
form.styled-form .errorlist { background: #ffbaba; }

#styled-form-error {
    padding: 10px;
    margin-bottom: 1em;
}

/* Browse Styles
----------------------------------------------------------------------*/
#guide-search {
    margin-bottom: 1em;
}

/* Map Styles
----------------------------------------------------------------------*/
.map-block {
	border: 1px solid #222;
    margin-bottom: 1em;
}
.map-block.small  { height: 100px; }
.map-block.medium { height: 200px; }
.map-block.large  { height: 400px; }

