{% extends "base.html" %}

{% block content_title %}Profile Listing{% endblock %}

{% block content %}

  <form id="guide-search" class="grid_4">
    <input class="auto-search" type="search" placeholder="Where do you want to go?" />
  </form>
  <div class="clearfix"></div>

  {% for profile in object_list %}
    <div class="grid_4">
      <figure class="guide-slide">
          <img src="{{ profile.image.url }}" height="200px"/>
	  	<div>
	      <h1>{{ profile.user.get_full_name}}</h1>
	  	</div>
      </figure>
    </div>
  {% endfor %}

{% endblock %}
