{% extends "base.html" %}

{% block content_title %}Profile Listing{% endblock %}

{% block content %}

  <form id="guide-search" class="grid_4">
    <input class="auto-search" type="search" placeholder="Who do you want to meet?" />
  </form>
  <div class="clearfix"></div>

  {% for profile in object_list %}
    <div class="grid_3">
      <figure class="guide-slide">
          <a href="{{ profile.user.get_absolute_url }}"><img src="{{ profile.image.url }}" height="300px"/></a>
	  	<div>
	      <h1>{{ profile.user.username}}</h1>
	  	</div>
      </figure>
    </div>
  {% endfor %}

{% endblock %}

{% block extra_javascript %}
    <script>
    $(document).ready(function() {
        $("form#guide-search input").autocomplete({
          source: function(request, response) {
            $.tripme.user.search(request.term, function(data) {
              response($.map(data, function(item) {
                var result = item.user.username;
                return { label : result, value : result };
              }));
            });
          },
        });
        $("form#guide-search").submit(function() {
			var term = $("input:first").val().toLowerCase();
			$(".guide-slide").each(function() {
				if ($(this).text().toLowerCase().indexOf(term) <= 0) {
					$(this).fadeOut();
				}
				else { $(this).fadeIn(); }
			});
			return false;
		});
    });
    </script>
{% endblock %}
