<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{{ site.name }}{% endblock %}</title>
	<meta name="description" content="Here is the description of your project." />
	<meta name="author" content="Galen Collins" />
	<meta name="Copyright" content="Copyright Galen Collins 2010. All Rights Reserved." />
	<meta name="DC.title" content="Trip.Me" />
	<meta name="DC.subject" content="What you're about." />
	<meta name="DC.creator" content="Who made this site." />
	<meta name="google-site-verification" content="" />
	<link rel="shortcut icon" href="/img/favicon.ico"/>
	<link rel="apple-touch-icon" href="/img/custom_icon.png"/>
	<link rel="stylesheet" href="css/main.css" />
	
	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script>
	<![endif]-->
	
	<script src="js/modernizr.min.js"></script>
</head>

<body>
  <div id="container" class="container_12">

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Site Header -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <header>
      <h1><a href="/"><span>{{ site.name }}</span></a></h1>
      <nav>
        <ul>
          <li><a href="/home/">Home</a></li>
          <li><a href="/browse/">Browse Guides</a></li>
          <li><a href="/help/">Help</a></li>
          <li><a href="/login/">Login</a></li>
        </ul>
      </nav>
    </header>
    
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Site Content -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <section id="content" class="clearfix">

      <div class="grid_4">
        <input type="text" />
        <div id="map-canvas"></div>
        <ul id="city-list">
		  <li><a href="#">London, England</a></li>
		  <li><a href="#">Tijuana, Mexica</a></li>
		  <li><a href="#">St. Louis, Missouri</a></li>
        </ul>
	    <div class="clearfix"></div>
      </div>

      <div id="top-ten-list" class="grid_8">
        <article class="guide-slide-wide clearfix">
          <h1><span>Paris Trip</span></h1>
          <img src="img/image2.jpg" height="150px" />
          <p>lorum impLorem ipsum dolor sit amet, consectetur adipiscing elit.s
             Nullam semper laoreet nisl vel facilisis. Morbi dolor nunc, sagittis non vehicula sit amet,
             porta in augue. Fusce nec odio erat. Nullam eu mattis lorem. Praesent egestas pharetra
             neque. In hac habitasse platea dictumst. Pellentesque nec elit felis, et molestie lorem.
             Integer aliquam tincidunt odio, eget posuere odio consectetur non.
             Maecenas a sapien a est pharetra auctor.</p>
        </article>
        <article class="guide-slide-wide clearfix">
          <h1>Paris Trip</h1>
          <img src="img/image2.jpg" height="150px" />
          <p>lorum impLorem ipsum dolor sit amet, consectetur adipiscing elit.s
             Nullam semper laoreet nisl vel facilisis. Morbi dolor nunc, sagittis non vehicula sit amet,
             porta in augue. Fusce nec odio erat. Nullam eu mattis lorem. Praesent egestas pharetra
             neque. In hac habitasse platea dictumst. Pellentesque nec elit felis, et molestie lorem.
             Integer aliquam tincidunt odio, eget posuere odio consectetur non.
             Maecenas a sapien a est pharetra auctor.</p>
        </article>
        <article class="guide-slide-wide clearfix">
          <h1>Paris Trip</h1>
          <img src="img/image2.jpg" height="150px" />
          <p>lorum impLorem ipsum dolor sit amet, consectetur adipiscing elit.s
             Nullam semper laoreet nisl vel facilisis. Morbi dolor nunc, sagittis non vehicula sit amet,
             porta in augue. Fusce nec odio erat. Nullam eu mattis lorem. Praesent egestas pharetra
             neque. In hac habitasse platea dictumst. Pellentesque nec elit felis, et molestie lorem.
             Integer aliquam tincidunt odio, eget posuere odio consectetur non.
             Maecenas a sapien a est pharetra auctor.</p>
        </article>
        <article class="guide-slide-wide clearfix">
          <h1>Paris Trip</h1>
          <img src="img/image2.jpg" height="150px" />
          <p>lorum impLorem ipsum dolor sit amet, consectetur adipiscing elit.s
             Nullam semper laoreet nisl vel facilisis. Morbi dolor nunc, sagittis non vehicula sit amet,
             porta in augue. Fusce nec odio erat. Nullam eu mattis lorem. Praesent egestas pharetra
             neque. In hac habitasse platea dictumst. Pellentesque nec elit felis, et molestie lorem.
             Integer aliquam tincidunt odio, eget posuere odio consectetur non.
             Maecenas a sapien a est pharetra auctor.</p>
        </article>
        <article class="guide-slide-wide clearfix">
          <h1>Paris Trip</h1>
          <img src="img/image2.jpg" height="150px" />
          <p>lorum impLorem ipsum dolor sit amet, consectetur adipiscing elit.s
             Nullam semper laoreet nisl vel facilisis. Morbi dolor nunc, sagittis non vehicula sit amet,
             porta in augue. Fusce nec odio erat. Nullam eu mattis lorem. Praesent egestas pharetra
             neque. In hac habitasse platea dictumst. Pellentesque nec elit felis, et molestie lorem.
             Integer aliquam tincidunt odio, eget posuere odio consectetur non.
             Maecenas a sapien a est pharetra auctor.</p>
        </article>
      </div>

    </section>
    
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Site Footer -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <footer>
      <ul id="social-network">
	    <li class="email"><a href="http://technocrat.com/tripme/"><span>Email</span></a></li>
	    <li class="tech"><a href="http://technocrat.com/tripme/"><span>Technocrat</span></a></li>
	    <li class="t"><a href="http://twitter.com/tripme/"><span>Twitter</span></a></li>
	    <li class="rss"><a href="http://tripme.com/feed/rss/"><span>RSS</span></a></li>
      </ul>
      <p>copyright &copy; 2010 bashwork - powered by spunk and vigor</p>
    </footer>

    <div id="add-city-dialog" style="display:none">
	  <input type="text" placeholder="Where do you want to go?"/>
    </div>

  </div>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Javascript Includes -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script>
    $(document).ready(function() {
      var options = {
        zoom : 2,
        center : new google.maps.LatLng(-34.397, 150.644),
		mapTypeControl : false,
        mapTypeId : google.maps.MapTypeId.ROADMAP,
		navigationControlOptions : {
		  style : google.maps.NavigationControlStyle.SMALL
		}
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"), options);
        $("#add-city-dialog").dialog({
            modal : true,
            position: 'center',
            title : 'Add A New City', 
			autoOpen : false,
            resizable : false,
            buttons : [
            { text : "Add", click : function() { $(this).dialog("close"); } },
            { text : "Cancel", click: function() { $(this).dialog("close"); } },
            ],
        });

	  $("#button-add-city").click(function() {
        $("#add-city-dialog").dialog('open');
	  });
    });
    </script>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Javascript Analytics -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script>
     var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>

</body>
</html>
