<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{{ site.name }}{% endblock %}</title>
	<meta name="description" content="Here is the description of your project." />
	<meta name="author" content="Galen Collins" />
	<meta name="Copyright" content="Copyright Galen Collins 2010. All Rights Reserved." />
	<meta name="DC.title" content="Trip.Me" />
	<meta name="DC.subject" content="What you're about." />
	<meta name="DC.creator" content="Who made this site." />
	<meta name="google-site-verification" content="" />
	<link rel="shortcut icon" href="/img/favicon.ico"/>
	<link rel="apple-touch-icon" href="/img/custom_icon.png"/>
	<link rel="stylesheet" href="css/main.css" />
	
	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script>
	<![endif]-->
	
	<script src="js/modernizr.min.js"></script>
</head>

<body>
  <div id="container" class="container_12">

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Site Header -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <header>
      <h1><a href="/"><span>{{ site.name }}</span></a></h1>
      <nav>
        <ul>
          <li><a href="/home/">Home</a></li>
          <li><a href="/browse/">Browse Guides</a></li>
          <li><a href="/help/">Help</a></li>
          <li><a href="/login/">Login</a></li>
        </ul>
      </nav>
    </header>
    
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Site Content -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <section id="content" class="clearfix">

     <div class="grid_6 prefix_3 suffix_3">
      <form class="styled-form">
        <fieldset>
          <legend>Trip Details</legend>
          <ol>
          <li>
            <label for="title"/>Title</label>
            <input name="title" type="text" placeholder="My Awesome Trip" required autofocus/>
          </li>
          <li>
            <label for="sdate">Start Date</label>
            <input name="sdate" type="date" placeholder="November 1, 2010" required/>
          </li>
          <li>
            <label for="edate">End Date</label>
            <input name="edate" type="date" placeholder="November 9, 2010" required/>
          </li>
          <li>
            <label for="description">Description</label>
            <textarea name="description" rows="5"></textarea>
          </li>
          </ol>
        </fieldset>
        <fieldset>
          <button class="button blue large" type="submit">Create Trip</button>
        </fieldset>
      </form>
     </div>

    </section>
    
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Site Footer -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <footer>
      <ul id="social-network">
	    <li class="email"><a href="http://technocrat.com/tripme/"><span>Email</span></a></li>
	    <li class="tech"><a href="http://technocrat.com/tripme/"><span>Technocrat</span></a></li>
	    <li class="twit"><a href="http://twitter.com/tripme/"><span>Twitter</span></a></li>
	    <li class="rss"><a href="http://tripme.com/feed/rss/"><span>RSS</span></a></li>
      </ul>
      <p>copyright &copy; 2010 bashwork - powered by spunk and vigor</p>
    </footer>
  </div>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Javascript Includes -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script>
    $(document).ready(function() {
    });
    </script>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Javascript Analytics -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script>
     var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>

</body>
</html>
