<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>
      Nature
    </title>
	<style type="text/css">
	a:hover { text-decoration: none !important; }
	.header h1 {color: #d7e2c0; font: bold 22px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 24px;}
	.header p {color: #8da757; font: normal 16px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 16px; }
	
	.content h2 {color:#51652a; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Georgia, serif;}
	.content p {color:#5e5a4a; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;}
	.content a {color: #0eb6ce; text-decoration: none;}
	.footer p {margin: 0; padding: 0; text-align: center;color:#c0c0c0; font-family: Georgia, serif;}
	.footer a {color: #efe08e; text-decoration: none; border-bottom: 1px dotted #efe08e}
	.notice p {margin: 0; padding: 0; text-align: center;color:#ffffff; font-family: Georgia, serif;}
	.notice a {color: #efe08e; text-decoration: none; border-bottom: 1px dotted #efe08e}
	</style>
  </head>
  <body style="margin: 0; padding: 0; background: #3b4f1a url('images/bg_email.png') repeat-x center top;" bgcolor="#3b4f1a">
  	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="padding: 10px 0 35px;background: #3b4f1a url('images/bg_email.png') repeat-x center top;">
		<tr>
	        <td  align="center" style="padding: 15px 0 10px; font-size: 11px; color:#ffffff; margin: 0; line-height: 1.2;font-family: Georgia, serif;" valign="top" class="notice">
				<p style="margin: 0; padding: 0; text-align: center;color:#ffffff; font-family: Georgia, serif;">You're receiving this newsletter because you bought widgets from us.</p>
				<p style="margin: 0; padding: 0; text-align: center;color:#ffffff; font-family: Georgia, serif;">Having trouble reading this? <webversion style="color: #efe08e; text-decoration: none; border-bottom: 1px dotted #efe08e">View it in your browser</webversion>. Not interested? <unsubscribe style="color: #efe08e; text-decoration: none; border-bottom: 1px dotted #efe08e">Unsubscribe</unsubscribe> instantly.</p>
			</td>
	      </tr>  
		<tr>
		  	<td align="center" style="font-family: Georgia, serif; padding: 0;" valign="top">
			    <table cellpadding="0" cellspacing="0" border="0" align="center" width="610" style="font-family: Georgia, serif;background: #294000 url('images/bg_header.jpg') no-repeat center top; " class="header">
			      <tr>
					<td width="22">&nbsp;</td>
			        <td style="margin: 0; padding: 50px 0 20px;" align="left" valign="bottom">
						<p style="color: #8da757; font: normal 16px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 16px; ">News from</p>
						<h1 style="color: #d7e2c0; font: bold 22px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 24px;">the Norwegian Highlanders</h1>
						
			        </td>
			      </tr>
				</table><!-- header-->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="610" style="font-family: Georgia, serif;background: url('images/bg_header_b2.jpg') no-repeat center top; padding: 5px 0 0" >
			      	<tr>
						  <td style="font-size: 1px; height: 7px; line-height: 1px;" height="7" colspan="4"><img src="images/spacer.gif" alt="space" width="25" height="1"></td>
					</tr>
					<tr>
					<td width="5" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
			        <td width="599" valign="top" align="left" style="font-family: Georgia, serif; padding-bottom: 55px" bgcolor="#f5f5ee" class="content">
						<table cellpadding="0" cellspacing="0" border="0"  style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0;" width="598" >
						<tr>
							<td width="20" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
							<td style="padding: 15px 0 5px; font-family: Georgia, serif;" valign="top" align="left" width="367">
								<h3 style="color:#736c53; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; line-height: 10px; font-size: 10px; background: url('images/bg_date.png') repeat-x right top;"><span style="background:#f5f5ee; padding-right: 10px; "><$currentdayname$> <$currentday$> <$currentmonthname$></span></h3>
							</td>
							<td width="25" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="25"></td>
						</tr>
						<tr>
							<td width="20" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
							<td style="padding: 10px 0 0; font-family: Georgia, serif;" align="left">			
								<h2 style="color:#51652a; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Georgia, serif;">Meet Jack — a brown cow.</h2>
								<p style="color:#5e5a4a; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;">
									Suspendisse potenti--Fusce eu ante in sapien vestibulum sagittis. Cras purus. Nunc rhoncus. <a href="#" style="color: #557e00; text-decoration: none; border-bottom: 1px dotted #557e00">Donec imperdiet</a>, nibh sit amet pharetra placerat, tortor purus condimentum lectus.
								</p>
							 </td>
							<td width="25" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="25"></td>
						</tr>
						<tr>
							<td width="20" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
							<td style="padding: 10px 0 0;" align="left">			
								<img src="images/img.jpg" alt="Cow" style="border: 5px solid #f4f4ef;">
							</td>
							<td width="25" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="25"></td>
						</tr>
						<tr>
							<td width="20" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
							<td style="padding: 10px 0 10px; font-family: Georgia, serif; border-bottom: 1px dashed #cfcdc2" align="left">			
								<p style="color:#5e5a4a; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;">
									Suspendisse potenti--Fusce eu <a href="#" style="color: #557e00; text-decoration: none; border-bottom: 1px dotted #557e00">ante in sapien</a> vestibulum sagittis.
								</p>
							</td>
							<td width="25" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="25"></td>
						</tr>
						<tr>
							<td width="20" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
							<td style="padding: 10px 0 10px; font-family: Georgia, serif;" align="left">			
								<h2 style="color:#51652a; font-weight: bold; margin: 0; padding: 0; line-height: 22px; font-size: 17px;">Trip arranged to Mjøndalen tomorrow at 5! Bring own blanket!</h2>
							</td>
							<td width="25" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="25"></td>
						</tr>
						<tr>
							<td width="20" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
							<td style="padding: 0px 0 5px; font-family: Georgia, serif;" align="left">			
								<p style="color:#5e5a4a; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;">
									Suspendisse potenti--Fusce eu ante in sapien vestibulum sagittis. Cras purus. Nunc rhoncus.
								</p>
							</td>
							<td width="25" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="25"></td>
						</tr>
						<tr>
							<td width="20" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
							<td style="padding: 8px 0 5px; font-family: Georgia, serif;" align="left">			
								<p style="color:#5e5a4a; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;">
									Nå håper politiet at løsningen på disse sakene ikke fører til at fremtidige saker ikke vil bli anmeldt – fordi de frykter at politiet ikke vil ta dem alvorlig.
								</p>
							</td>
							<td width="25" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="25"></td>
						</tr>
						<tr>
							<td width="20" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
							<td style="padding: 8px 0 10px; font-family: Georgia, serif; border-bottom: 1px dashed #cfcdc2" align="left">			
								<p style="color:#5e5a4a; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;">
									– Vi skal etterforske slike saker, og vi kommer til å ta enhver anmeldelse på alvor, understreker politistasjonssjef Endre Flatvad.
								</p>
							</td>
							<td width="25" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="25"></td>
						</tr>
						<tr>
							<td width="20" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
							<td style="padding: 10px 0 0; font-family: Georgia, serif;" align="left">			
								<h2 style="color:#51652a; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;">Frozen in air</h2>
								<p style="color:#5e5a4a; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;">
									Suspendisse potenti--Fusce eu ante in sapien vestibulum sagittis. Cras purus. Nunc rhoncus.
								</p>
							 </td>
							<td width="25" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="25"></td>
						</tr>
						<tr>
							<td width="20" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
							<td style="padding: 10px 0 0;" align="left">			
								<img src="images/img2.jpg" alt="Frozev" style="border: 5px solid #f4f4ef;">
							</td>
							<td width="25" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="25"></td>
						</tr>
						</table>	
					</td>
					
					
					<td width="5" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
					
			      </tr>
				 <tr>
					  <td style="font-size: 1px; height: 10px; line-height: 1px;" height="10" colspan="4"><img src="images/spacer.gif" alt="space" width="25" height="1"></td>
				  </tr>
				</table><!-- body -->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="font-family: Georgia, serif; line-height: 10px;" bgcolor="#464646" class="footer">
			      
				  <tr>
			        <td bgcolor="#1b2706" align="center" style="padding: 15px 0 15px; line-height: 1.2; font-size: 11px; color:#c0c0c0; margin: 0; font-family: Georgia, serif; " valign="top">                 
						<p style="margin: 0; padding: 0; text-align: center;color:#c0c0c0; font-family: Georgia, serif;">ABCWidgets Corp — 123 Some Street, City, ST 99999. Ph +1 4 1477 89 745 </p>
			        </td>
			      </tr>
				</table><!-- footer-->
		  	</td>
		</tr>
    </table>
  </body>
</html>