{% extends "base.html" %}

{% block content_title %}Change Your Password{% endblock %}

{% block content %}

<div class="grid_6 prefix_3 suffix_3">
  <form class="styled-form" method="post" action="">
    {% csrf_token %}
  
    <fieldset>
    <legend>Account Credentials</legend>
    <ol>
      {% for field in form %}
        <li> {{ field.label_tag }} {{ field }} {{ field.errors }}</li>
      {% endfor %}
    </ol>
    </fieldset>
  
    <fieldset>
      <button class="button blue larege" type="submit">Change Password</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
  </form>
</div>

{% endblock %}
