{% extends "base.html" %}

{% block content_title %}{{ guide.name }} by <a href="{{ guide.user.get_absolute_url }}">{{ guide.user.username }}</a>{% endblock %} 

{% block content %}

   <article class="grid_8 instructions">
     <p>This is some text that describes how to use this interface</p>
   </article>
   <figure id="edit-city-buttons" class="grid_4">
     <button id="button-add-city">Add New City</button>
     <button id="button-delete-guide">Delete Guide</button>
   </figure>
   <div class="clearfix"></div>

   <div class="grid_4">
     <ul id="city-list">
       {% for entry in guide.guidelocationentry_set.all %}
         <li class="edit-delete">
           <a href="{{ entry.get_absolute_url }}">{{ entry.city }}</a>
         </li>
       {% endfor %}
     </ul>
   </div>

   <figure class="grid_8">
     <div class="map-block large"></div>
   </figure>

{% endblock %}

{% block extra_javascript %}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script>
    $(document).ready(function() {

      function do_add_city(city) {
          $("#city-list").append("<li>"+city+"</li>");
          $.gmaps.mark({
            position : city,
            title    : city,
            content  : '<h1>' + city + '</h1>',
          }, true);
      }

      $("#add-city-dialog input").autocomplete({
        source: function(request, response) {
          $.getJSON('http://ws.geonames.org/searchJSON',
          {
            style        : 'full',
            maxRows      : 10,
            featureClass : 'P',
            q            : request.term,
          }, function(data) {
            response($.map(data.geonames, function(item) {
              var result = item.name
                + (item.adminName1 ? ", " + item.adminName1 : "")
                + ", " + item.countryName;
              return { label : result, value : result };
            }));
          });
        }
      });

      $("#add-city-dialog").dialog({
          modal       : true,
          position    : 'center',
          title       : 'Add A New City', 
	  	  autoOpen    : false,
          resizable   : false,
          buttons     : [
            {
              text  : "Add City",
              click : function() {
                $(this).dialog("close");
                do_add_city($("#add-city-dialog input").attr("value"));
              },
            },
            {
              text  : "Cancel",
              click : function() {
                $(this).dialog("close");
              }
            },
          ],
      });
      $("#delete-guide-dialog").dialog({
          dialogClass : 'alert-dialog',
          modal       : true,
          position    : 'center',
          title       : 'Are You Sure?', 
	  	  autoOpen    : false,
          resizable   : false,
          buttons     : [
            {
              text  : "Delete",
              click : function() {
                $.tripme.guide.remove('{{ guide.id }}', function(result) {
                  $.redirect("{{ guide.user.get_absolute_url }}");
                });
              },
            },
            {
              text  : "Cancel",
              click : function() {
                $(this).dialog("close");
              }
            },
          ],
      });

	  $("#button-delete-guide").button().click(function() {
        $("#delete-guide-dialog").dialog('open');
      });
	  $("#button-add-city").button().click(function() {
        $("#add-city-dialog input").val('');
        $("#add-city-dialog").dialog('open');
	  });
      $("#add-city-dialog form").submit(function() {
        $(".ui-dialog .ui-button").first().click();
        return false;
      });

      var markers = [
        {% for entry in guide.guidelocationentry_set.all %}
          { position : [{{ entry.city.latitude }}, {{ entry.city.longitude }}] },
        {% endfor %}
      ];

      $(".map-block").gmaps({ markers : markers });
    });
    </script>
{% endblock %}

{% block extra_dom %}

 <div id="add-city-dialog" title="Add A New City">
   <form> 
     <label for="search">Search</label> 
     <input type="search" placeholder="Where do you want to go?"/>
   </form> 
 </div>
 
 <div id="delete-guide-dialog" title="Are You Sure?">
  <p>If you delete your guide, it is gone forever!</p>
 </div>

{% endblock %}
