{% extends "base.html" %}

{% block content_title %}Browsing Guides{% endblock %}

{% block content %}

      <form id="guide-search" class="grid_4">
        <input class="auto-search" type="search" placeholder="Where do you want to go?" />
      </form>
      <div class="prefix_6 grid_2">
      {% if user.is_authenticated %}
        <a class="button" href="/guides/create/">Create A Guide</a>
      {% endif %}
      </div>
	  <div class="clearfix"></div>

  {% for guide in object_list %}
      <div class="grid_4">
	    <figure class="guide-slide">
          <a href="{{ guide.get_absolute_url }}"><img src="{{ guide.get_random_image }}" height="200px"/></a>
	  	  <div>
	        <h1>{{ guide.name }}</h1>
	  	    <h2><a href="{{ guide.user.get_absolute_url }}">by {{ guide.user.username }}</a></h2>
	  	    <p>{{ guide.description }}</p>
	  	  </div>
	    </figure>
	  </div>
  {% endfor %}

{% endblock %}

{% block extra_javascript %}
    <script>
    $(document).ready(function() {
        $("form#guide-search input").autocomplete({
          source: function(request, response) {
            $.tripme.guide.search(request.term, function(data) {
              response($.map(data, function(item) {
                var result = item.name;
                return { label : result, value : result };
              }));
            });
          },
        });
        $("form#guide-search").submit(function() {
			var term = $("input:first").val().toLowerCase();
			$(".guide-slide").each(function() {
				if ($(this).text().toLowerCase().indexOf(term) <= 0) {
					$(this).fadeOut();
				}
				else { $(this).fadeIn(); }
			});
			return false;
		});
    });
    $('.button').button();
    </script>
{% endblock %}
