{% extends "base.html" %}

{% block content_title %}Browsing Guides{% endblock %}

{% block content %}

      <form id="guide-search" class="grid_4">
        <input class="auto-search" type="search" placeholder="Where do you want to go?" />
      </form>
	  <div class="clearfix"></div>

  {% for guide in object_list %}
      <div class="grid_4">
	    <figure class="guide-slide">
          <img src="{{ guide.image.url }}" height="200px"/>
	  	<div>
	      <h1>{{ guide.name }}</h1>
	  	  <h2>by {{ guide.user.username }}</h2>
	  	  <p>{{ guide.description }}</p>
	  	</div>
	    </figure>
	  </div>
  {% endfor %}

{% endblock %}

{% block extra_javascript %}
    <script>
    $(document).ready(function() {
        var data = $(".guide-slide h1").map(function() {
			return $(this).text().split(' ')[0];
		}).get();
        $("form#guide-search input").autocomplete({source:jQuery.unique(data)});
        $("form#guide-search").submit(function() {
			var term = $("input:first").val().toLowerCase();
			$(".guide-slide").each(function() {
				if ($(this).text().toLowerCase().indexOf(term) <= 0) {
					$(this).fadeOut();
				}
				else { $(this).fadeIn(); }
			});
			return false;
		});
    });
    </script>
{% endblock %}
